:root {
  --font-size-size-32: {Font.Size.Size_32};
  --font-size-size-20: {Font.Size.Size_20};
  --font-size-size-40: {Font.Size.Size_32};
  --font-size-size-16: {Font.Size.Size_16};
  --font-size-size-18: {Font.Size.Size_18};
  --font-size-size-14: {Font.Size.Size_14};
  --font-size-size-28: {Font.Size.Size_28};
  --font-size-size-24: {Font.Size.Size_24};
  --font-size-size-12: {Font.Size.Size_12};
  --font-size-size-10: {Font.Size.Size_10};
  --font-family-lora: {Font.Family.Lora};
  --font-family-nunito-sans: {Font.Family.NunitoSans};
  --font-weight-bold: {Font.Weight.Bold};
  --font-weight-regular: {Font.Weight.Regular};
  --font-weight-semibold: {Font.Weight.Semibold};
  --font-line-height-line-height-44: {Font.Line_Height.Line_Height_44};
  --font-line-height-line-height-36: {Font.Line_Height.Line_Height_36};
  --font-line-height-line-height-76: {Font.Line_Height.Line_Height_76};
  --button-primary-default-bg-default: {Colors.Primary.300_P};
  --button-primary-default-foreground-default: {Common.Colors.Text_Default_Color};
  --button-primary-hover-bg-hover: {Colors.Primary.200};
  --button-primary-hover-foreground-hover: {Colors.Grey.700};
  --button-primary-active-bg-active: {Colors.Primary.100};
  --button-primary-active-foreground-active: {Colors.Grey.700};
  --button-primary-disabled-bg-disabled: {Colors.Grey.100};
  --button-primary-disabled-foreground-disabled: {Colors.Grey.900};
  --button-secondary-default-bg-default: {Colors.Secondary.200_P};
  --button-secondary-default-foreground-default: {Common.Colors.Text_Default_Color};
  --button-secondary-hover-bg-hover: {Colors.Secondary.100};
  --button-secondary-hover-foreground-hover: {Colors.Grey.700};
  --button-secondary-active-foreground-active: {Colors.Grey.700};
  --button-secondary-active-bg-active: {Colors.Secondary.100};
  --button-secondary-disabled-bg-disabled: {Colors.Grey.100};
  --button-secondary-disabled-foreground-disabled: {Colors.Grey.900};
  --button-secondary-view-secondary: {Booleans.Yes};
  --button-cancel-default-foreground-default: {Colors.B&W.White};
  --button-cancel-default-bg-default: {Colors.Danger.500_P};
  --button-cancel-hover-foreground-cancel: {Colors.Grey.100};
  --button-cancel-hover-bg-hover: {Colors.Danger.600};
  --button-cancel-active-foreground-active: {Colors.B&W.White};
  --button-cancel-active-bg-active: {Colors.Danger.700};
  --button-cancel-disabled-foreground-disabled: {Colors.Grey.900};
  --button-cancel-disabled-bg-disabled: {Colors.Grey.300_P};
  --button-radius: {Common.Radius.Radius_L};
  --button-gap-8: {Numbers.Spacing.Spacing_ 8};
  --button-padding-v: {Numbers.Spacing.Spacing_ 10};
  --button-padding-h: {Numbers.Spacing.Spacing_ 14};
  --numbers-radius-radius-4: {Numbers.4};
  --numbers-radius-radius-8: {Numbers.8};
  --numbers-radius-radius-12: {Numbers.12};
  --numbers-radius-radius-16: {Numbers.16};
  --numbers-spacing-spacing-2: {Numbers.2};
  --numbers-spacing-spacing-4: {Numbers.4};
  --numbers-spacing-spacing-6: {Numbers.6};
  --numbers-spacing-spacing-8: {Numbers.8};
  --numbers-spacing-spacing-10: {Numbers.10};
  --numbers-spacing-spacing-12: {Numbers.12};
  --numbers-spacing-spacing-14: {Numbers.14};
  --numbers-spacing-spacing-16: {Numbers.16};
  --numbers-spacing-spacing-0: {Numbers.0};
  --numbers-spacing-spacing-24: {Numbers.24};
  --card-basic-bg-basic: {Common.Colors.Card_Background_Cream};
  --card-basic-padding-16: {Numbers.Spacing.Spacing_ 16};
  --card-basic-spacing-6: {Numbers.Spacing.Spacing_ 6};
  --card-basic-spacing-8: {Numbers.Spacing.Spacing_ 8};
  --card-border-card: {Common.Colors.Border_Color};
  --avatar-border-color-default: {Colors.Grey.400};
  --avatar-border-width-default: {Numbers.2};
  --text-fields-text-fields-error: {Colors.Danger.600};
  --text-fields-text-fields-success: {Colors.Success.600_P};
  --text-fields-text-fields-text-color-filled: {Common.Colors.Text_Default_Color};
  --text-fields-text-fields-text-color-empty: {Colors.Grey.700};
  --text-fields-text-fields-label-color: {Common.Colors.Text_Titles_Color};
  --text-fields-text-fields-field-bg-default: {Colors.B&W.White};
  --text-fields-text-fields-icon-color-default: {Common.Colors.Icon_Default_Fill};
  --text-fields-text-fields-border-color-default: {Common.Colors.Border_Color};
  --text-fields-text-fields-spacing-v-default: {Numbers.Spacing.Spacing_ 8};
  --text-fields-text-fields-message-color-default: {Common.Colors.Text_Default_Color};
  --text-fields-text-fields-bg-default: {Colors.B&W.White};
  --icon-color-default: {Colors.Grey.900};
  --common-colors-text-default-color: {Colors.Grey.900};
  --common-colors-text-link-color: {Colors.Primary.500};
  --common-colors-text-titles-color: {Colors.Grey.900};
  --common-colors-icon-default-fill: {Colors.Grey.900};
  --common-colors-border-color: {Colors.Grey.500};
  --common-colors-card-background-light: {Colors.Grey.100};
  --common-colors-card-background-cream: {Colors.Others.Palette_Cream};
  --common-colors-overlay-color: rgba(0, 0, 0, 0.2);
  --common-radius-radius-l: {Numbers.Radius.Radius_12};
  --common-radius-radius-m: {Numbers.Radius.Radius_8};
  --common-spacing-spacing-l: {Numbers.Spacing.Spacing_ 16};
  --common-spacing-spacing-m: {Numbers.Spacing.Spacing_ 8};
  --common-spacing-spacing-s: {Numbers.Spacing.Spacing_4};
  --checkbox-label-text-default-color: {Colors.Grey.800};
  --checkbox-spacing-v-default: {Numbers.Spacing.Spacing_ 8};
  --checkbox-checkbox-icon-default-color-2: {Colors.Grey.800};
  --app-app-background-default: {Colors.Primary.300_P};
  --image-radius-default: {Numbers.4};
  --image-border-color-default: {Colors.Grey.400};
  --image-border-width-default: {Numbers.2};
  --rating-star-fill-color-active: {Colors.Secondary.400};
  --rating-star-border-color-default: {Colors.Grey.900};
  --bottom-bar-button-background-selected: {Colors.B&W.White};
  --bottom-bar-button-icon-color-default: {Common.Colors.Icon_Default_Fill};
  --top-bar-background-color: {Colors.Secondary.200_P};
  --alert-background-color-information: {Colors.Others.Palette_Cream};
  --alert-backgroun-color-danger: {Colors.Danger.100};
  --alert-backgroun-color-positive: {Colors.Secondary.300};
  --radio-button-checked-color: {Colors.Grey.800};
}
