:root {

  /* ========== border ========== */

  --border-width-l: var(--numberprimitives-3);
  --border-width-m: var(--numberprimitives-2);
  --border-width-s: var(--numberprimitives-1);


  /* ========== Colorprimitives ========== */

  --colorprimitives-green-100: #d1fae5;
  --colorprimitives-green-200: #a7f3d0;
  --colorprimitives-green-300: #6ee7b7;
  --colorprimitives-green-400: #34d399;
  --colorprimitives-green-50: #ecfdf5;
  --colorprimitives-green-500: #10b978;
  --colorprimitives-green-600: #059669;
  --colorprimitives-green-700: #047857;
  --colorprimitives-green-800: #065f46;
  --colorprimitives-green-900: #064e3b;
  --colorprimitives-green-950: #052e23;
  --colorprimitives-neutral-0: #ffffff;
  --colorprimitives-neutral-100: #f5f5f5;
  --colorprimitives-neutral-200: #e5e5e5;
  --colorprimitives-neutral-300: #d4d4d4;
  --colorprimitives-neutral-400: #a3a3a3;
  --colorprimitives-neutral-50: #fafafa;
  --colorprimitives-neutral-500: #737373;
  --colorprimitives-neutral-600: #525252;
  --colorprimitives-neutral-700: #404040;
  --colorprimitives-neutral-800: #262626;
  --colorprimitives-neutral-900: #171717;
  --colorprimitives-neutral-950: #0a0a0a;
  --colorprimitives-primary-100: #b2d7ff;
  --colorprimitives-primary-200: #8fc4ff;
  --colorprimitives-primary-300: #66afff;
  --colorprimitives-primary-400: #3395ff;
  --colorprimitives-primary-50: #e5f2ff;
  --colorprimitives-primary-500: #0166ff;
  --colorprimitives-primary-600p: #005ce5;
  --colorprimitives-primary-700: #0055b2;
  --colorprimitives-primary-800: #003166;
  --colorprimitives-primary-900: #00254d;
  --colorprimitives-primary-950: #0b233d;


  /* ========== colors ========== */

  --colors-backgroundcolors-background01: var(--colorprimitives-neutral-0);
  --colors-backgroundcolors-background02: var(--colorprimitives-neutral-50);
  --colors-backgroundcolors-background03: var(--colorprimitives-neutral-100);
  --colors-backgroundcolors-background04: var(--colorprimitives-neutral-200);
  --colors-backgroundcolors-background05: var(--colorprimitives-neutral-300);
  --colors-backgroundcolors-background06: var(--colorprimitives-neutral-400);
  --colors-bordercolors-neutral-border100: var(--colorprimitives-neutral-200);
  --colors-bordercolors-neutral-border200: var(--colorprimitives-neutral-300);
  --colors-bordercolors-neutral-border300: var(--colorprimitives-neutral-400);
  --colors-bordercolors-neutral-border400: var(--colorprimitives-neutral-500);
  --colors-bordercolors-neutral-border500: var(--colorprimitives-neutral-600);
  --colors-bordercolors-neutral-border600: var(--colorprimitives-neutral-700);
  --colors-bordercolors-primary-border100: var(--colorprimitives-primary-500);
  --colors-bordercolors-primary-border200: var(--colorprimitives-primary-600p);
  --colors-bordercolors-primary-border300: var(--colorprimitives-primary-700);
  --colors-bordercolors-primary-border400: var(--colorprimitives-primary-800);
  --colors-bordercolors-primary-border500: var(--colorprimitives-primary-900);
  --colors-bordercolors-primary-border600: var(--colorprimitives-primary-950);
  --colors-foregroundcolors-foreground01: var(--colorprimitives-neutral-950);
  --colors-foregroundcolors-foreground02: var(--colorprimitives-neutral-900);
  --colors-foregroundcolors-foreground03: var(--colorprimitives-neutral-800);
  --colors-foregroundcolors-foreground04: var(--colorprimitives-neutral-700);
  --colors-foregroundcolors-foreground05: var(--colorprimitives-neutral-600);
  --colors-foregroundcolors-foreground06: var(--colorprimitives-neutral-500);
  --colors-semanticcolors-primary-semantic-primary100: var(--colorprimitives-primary-100);
  --colors-semanticcolors-primary-semantic-primary200: var(--colorprimitives-primary-200);
  --colors-semanticcolors-primary-semantic-primary300: var(--colorprimitives-primary-300);
  --colors-semanticcolors-primary-semantic-primary400: var(--colorprimitives-primary-400);
  --colors-semanticcolors-primary-semantic-primary50: var(--colorprimitives-primary-50);
  --colors-semanticcolors-primary-semantic-primary500: var(--colorprimitives-primary-500);
  --colors-semanticcolors-primary-semantic-primary600: var(--colorprimitives-primary-600p);
  --colors-semanticcolors-primary-semantic-primary700: var(--colorprimitives-primary-700);
  --colors-semanticcolors-primary-semantic-primary800: var(--colorprimitives-primary-800);
  --colors-semanticcolors-primary-semantic-primary900: var(--colorprimitives-primary-900);
  --colors-semanticcolors-primary-semantic-primary950: var(--colorprimitives-primary-950);
  --colors-semanticcolors-success-semantic-success100: var(--colorprimitives-green-100);
  --colors-semanticcolors-success-semantic-success200: var(--colorprimitives-green-200);
  --colors-semanticcolors-success-semantic-success300: var(--colorprimitives-green-300);
  --colors-semanticcolors-success-semantic-success400: var(--colorprimitives-green-400);
  --colors-semanticcolors-success-semantic-success50: var(--colorprimitives-green-50);
  --colors-semanticcolors-success-semantic-success500: var(--colorprimitives-green-500);
  --colors-semanticcolors-success-semantic-success600: var(--colorprimitives-green-600);
  --colors-semanticcolors-success-semantic-success700: var(--colorprimitives-green-700);
  --colors-semanticcolors-success-semantic-success800: var(--colorprimitives-green-800);
  --colors-semanticcolors-success-semantic-success900: var(--colorprimitives-green-900);
  --colors-semanticcolors-success-semantic-success950: var(--colorprimitives-green-950);


  /* ========== Numberprimitives ========== */

  --numberprimitives-0: 0px;
  --numberprimitives-1: 1px;
  --numberprimitives-10: 10px;
  --numberprimitives-12: 12px;
  --numberprimitives-16: 16px;
  --numberprimitives-2: 2px;
  --numberprimitives-20: 20px;
  --numberprimitives-24: 24px;
  --numberprimitives-28: 28px;
  --numberprimitives-3: 3px;
  --numberprimitives-32: 32px;
  --numberprimitives-4: 4px;
  --numberprimitives-40: 40px;
  --numberprimitives-48: 48px;
  --numberprimitives-6: 6px;
  --numberprimitives-64: 64px;
  --numberprimitives-72: 72px;
  --numberprimitives-8: 8px;
  --numberprimitives-80: 80px;
  --numberprimitives-96: 96px;


  /* ========== radius ========== */

  --radius-radius-l: var(--numberprimitives-12);
  --radius-radius-m: var(--numberprimitives-10);
  --radius-radius-max: 1000px;
  --radius-radius-s: var(--numberprimitives-8);
  --radius-radius-xl: var(--numberprimitives-16);
  --radius-radius-xs: var(--numberprimitives-6);
  --radius-radius-xxl: var(--numberprimitives-20);
  --radius-radius-xxs: var(--numberprimitives-4);
  --radius-radius-xxxl: var(--numberprimitives-32);
  --radius-radius-xxxs: var(--numberprimitives-2);
  --radius-radius-xxxxl: var(--numberprimitives-48);


  /* ========== spacing ========== */

  --spacing-spacing10: var(--numberprimitives-10);
  --spacing-spacing12: var(--numberprimitives-12);
  --spacing-spacing16: var(--numberprimitives-16);
  --spacing-spacing2: var(--numberprimitives-2);
  --spacing-spacing20: var(--numberprimitives-20);
  --spacing-spacing24: var(--numberprimitives-24);
  --spacing-spacing28: var(--numberprimitives-28);
  --spacing-spacing32: var(--numberprimitives-32);
  --spacing-spacing4: var(--numberprimitives-4);
  --spacing-spacing40: var(--numberprimitives-40);
  --spacing-spacing48: var(--numberprimitives-48);
  --spacing-spacing6: var(--numberprimitives-6);
  --spacing-spacing64: var(--numberprimitives-64);
  --spacing-spacing72: var(--numberprimitives-72);
  --spacing-spacing8: var(--numberprimitives-8);
  --spacing-spacing80: var(--numberprimitives-80);
  --spacing-spacing96: var(--numberprimitives-96);


  /* ========== typography ========== */

  --typography-font-family-body: var(--typographyprimitives-family-inter);
  --typography-font-family-heading: var(--typographyprimitives-family-inter);
  --typography-font-fontsize-2xl: var(--typographyprimitives-size-size18);
  --typography-font-fontsize-3xl: var(--typographyprimitives-size-size20);
  --typography-font-fontsize-4xl: var(--typographyprimitives-size-size24);
  --typography-font-fontsize-5xl: var(--typographyprimitives-size-size28);
  --typography-font-fontsize-6xl: var(--typographyprimitives-size-size36);
  --typography-font-fontsize-7xl: var(--typographyprimitives-size-size48);
  --typography-font-fontsize-8xl: var(--typographyprimitives-size-size60);
  --typography-font-fontsize-9xl: var(--typographyprimitives-size-size72);
  --typography-font-fontsize-base: var(--typographyprimitives-size-size13);
  --typography-font-fontsize-lg: var(--typographyprimitives-size-size14);
  --typography-font-fontsize-sm: var(--typographyprimitives-size-size12);
  --typography-font-fontsize-xl: var(--typographyprimitives-size-size16);
  --typography-font-fontsize-xs: var(--typographyprimitives-size-size11);
  --typography-font-lineheight-10xl: var(--typographyprimitives-lineheight-lineheight80);
  --typography-font-lineheight-7xl: var(--typographyprimitives-lineheight-lineheight44);
  --typography-font-lineheight-8xl: var(--typographyprimitives-lineheight-lineheight60);
  --typography-font-lineheight-9xl: var(--typographyprimitives-lineheight-lineheight72);
  --typography-font-lineheight-loose: var(--typographyprimitives-lineheight-lineheight36);
  --typography-font-lineheight-none: var(--typographyprimitives-lineheight-lineheight16);
  --typography-font-lineheight-normal: var(--typographyprimitives-lineheight-lineheight28);
  --typography-font-lineheight-relaxed: var(--typographyprimitives-lineheight-lineheight32);
  --typography-font-lineheight-snug: var(--typographyprimitives-lineheight-lineheight24);
  --typography-font-lineheight-tight: var(--typographyprimitives-lineheight-lineheight20);
  --typography-font-weight-bold: var(--typographyprimitives-weight-bold);
  --typography-font-weight-medium: var(--typographyprimitives-weight-medium);
  --typography-font-weight-regular: var(--typographyprimitives-weight-regular);
  --typography-font-weight-semi-bold: var(--typographyprimitives-weight-semi-bold);


  /* ========== Typographyprimitives ========== */

  --typographyprimitives-family-inter: "Inter";
  --typographyprimitives-lineheight-lineheight16: 16px;
  --typographyprimitives-lineheight-lineheight20: 20px;
  --typographyprimitives-lineheight-lineheight24: 24px;
  --typographyprimitives-lineheight-lineheight28: 28px;
  --typographyprimitives-lineheight-lineheight32: 32px;
  --typographyprimitives-lineheight-lineheight36: 36px;
  --typographyprimitives-lineheight-lineheight44: 44px;
  --typographyprimitives-lineheight-lineheight60: 60px;
  --typographyprimitives-lineheight-lineheight72: 72px;
  --typographyprimitives-lineheight-lineheight80: 80px;
  --typographyprimitives-size-size11: 11px;
  --typographyprimitives-size-size12: 12px;
  --typographyprimitives-size-size13: 13px;
  --typographyprimitives-size-size14: 14px;
  --typographyprimitives-size-size16: 16px;
  --typographyprimitives-size-size18: 18px;
  --typographyprimitives-size-size20: 20px;
  --typographyprimitives-size-size24: 24px;
  --typographyprimitives-size-size28: 28px;
  --typographyprimitives-size-size36: 36px;
  --typographyprimitives-size-size48: 48px;
  --typographyprimitives-size-size60: 60px;
  --typographyprimitives-size-size72: 72px;
  --typographyprimitives-weight-bold: "Bold";
  --typographyprimitives-weight-medium: "Medium";
  --typographyprimitives-weight-regular: "Regular";
  --typographyprimitives-weight-semi-bold: "Semi Bold";
}
