:root {

  /* = _Primitives = */

  --color-bw-black: #000000;
  --color-bw-black-05: #0000000d;
  --color-bw-black-07: #00000014;
  --color-bw-black-10: #0000001a;
  --color-bw-black-16: #00000029;
  --color-bw-black-20: #00000033;
  --color-bw-white: #ffffff;
  --color-blue-100: #dff7ff;
  --color-blue-200: #c5f0ff;
  --color-blue-300: #add8e6;
  --color-blue-400: #96bfcc;
  --color-blue-500: #7fa6b3;
  --color-blue-600: #6a8e99;
  --color-blue-700: #567680;
  --color-blue-800: #435e67;
  --color-blue-900: #31464d;
  --color-cucumber-100: #e0f7d6;
  --color-cucumber-200: #c9e0be;
  --color-cucumber-300: #b2c9a7;
  --color-cucumber-400: #9cb391;
  --color-cucumber-500: #869c7c;
  --color-cucumber-600: #718568;
  --color-cucumber-700: #5d6f54;
  --color-cucumber-800: #495841;
  --color-cucumber-900: #35412f;
  --color-extra-palette-bermuda: #88d8d0;
  --color-extra-palette-english-cream: #fffaf0;
  --color-extra-palette-lavender: #b7a4c4;
  --color-extra-palette-lime-cream: #f0f9c5;
  --color-extra-palette-moon-raker: #e6e6fa;
  --color-grey-100: #ececec;
  --color-grey-200: #d7d4d4;
  --color-grey-300: #c3bdbd;
  --color-grey-400: #aea6a6;
  --color-grey-500: #9a9090;
  --color-grey-600: #867b7b;
  --color-grey-700: #716666;
  --color-grey-800: #5d5252;
  --color-grey-900: #483f3f;
  --color-ocean-green-100: #d0ffe5;
  --color-ocean-green-200: #b0ffd3;
  --color-ocean-green-300: #90ffc1;
  --color-ocean-green-400: #6df7aa;
  --color-ocean-green-500: #52d58d;
  --color-ocean-green-600: #3cb371;
  --color-ocean-green-700: #299157;
  --color-ocean-green-800: #1a6f40;
  --color-ocean-green-900: #0e4d2a;
  --color-raw-umber-100: #fff3db;
  --color-raw-umber-200: #fde9c0;
  --color-raw-umber-300: #f5d9a0;
  --color-raw-umber-400: #d7bc84;
  --color-raw-umber-500: #baa06b;
  --color-raw-umber-600: #9d8555;
  --color-raw-umber-700: #806b40;
  --color-raw-umber-800: #63512e;
  --color-raw-umber-900: #46391e;
  --color-red-100: #ffc6c6;
  --color-red-200: #ff9f9f;
  --color-red-300: #ff7878;
  --color-red-400: #f64e4e;
  --color-red-500: #d43636;
  --color-red-600: #b22222;
  --color-red-700: #901212;
  --color-red-800: #6e0707;
  --color-red-900: #4c0000;
  --dimension-a11y-min-hit-area-desktop-aa: 24px;
  --dimension-a11y-min-hit-area-mobile-aaa: 48px;
  --dimension-border-radius-1000: 1000px;
  --dimension-border-radius-11: 11px;
  --dimension-border-radius-12: 12px;
  --dimension-border-radius-16: 16px;
  --dimension-border-radius-4: 4px;
  --dimension-border-radius-8: 8px;
  --dimension-border-radius-9: 9px;
  --dimension-border-width-1: 1px;
  --dimension-border-width-2: 2px;
  --dimension-shadow-blur-12: 12px;
  --dimension-shadow-blur-16: 16px;
  --dimension-shadow-blur-20: 20px;
  --dimension-shadow-blur-8: 8px;
  --dimension-shadow-spread--12: -12px;
  --dimension-shadow-spread--16: -16px;
  --dimension-shadow-spread--2: -2px;
  --dimension-shadow-spread--4: -4px;
  --dimension-shadow-spread--6: -6px;
  --dimension-shadow-spread--8: -8px;
  --dimension-shadow-spread-0: 0px;
  --dimension-shadow-x--10: -10px;
  --dimension-shadow-x--12: -12px;
  --dimension-shadow-x--16: -16px;
  --dimension-shadow-x--18: -18px;
  --dimension-shadow-x--2: -2px;
  --dimension-shadow-x--4: -4px;
  --dimension-shadow-x--8: -8px;
  --dimension-shadow-x-0: 0px;
  --dimension-shadow-x-10: 10px;
  --dimension-shadow-x-12: 12px;
  --dimension-shadow-x-16: 16px;
  --dimension-shadow-x-18: 18px;
  --dimension-shadow-x-2: 2px;
  --dimension-shadow-x-4: 4px;
  --dimension-shadow-x-8: 8px;
  --dimension-shadow-y--10: -10px;
  --dimension-shadow-y--12: -12px;
  --dimension-shadow-y--16: -16px;
  --dimension-shadow-y--18: -18px;
  --dimension-shadow-y--2: -2px;
  --dimension-shadow-y--4: -4px;
  --dimension-shadow-y--6: -6px;
  --dimension-shadow-y--8: -8px;
  --dimension-shadow-y-0: 0px;
  --dimension-shadow-y-10: 10px;
  --dimension-shadow-y-12: 12px;
  --dimension-shadow-y-16: 16px;
  --dimension-shadow-y-18: 18px;
  --dimension-shadow-y-2: 2px;
  --dimension-shadow-y-4: 4px;
  --dimension-shadow-y-6: 6px;
  --dimension-shadow-y-8: 8px;
  --dimension-spacing-10: 10px;
  --dimension-spacing-12: 12px;
  --dimension-spacing-14: 14px;
  --dimension-spacing-16: 16px;
  --dimension-spacing-2: 2px;
  --dimension-spacing-24: 24px;
  --dimension-spacing-32: 32px;
  --dimension-spacing-4: 4px;
  --dimension-spacing-40: 40px;
  --dimension-spacing-48: 48px;
  --dimension-spacing-6: 6px;
  --dimension-spacing-8: 8px;


  /* = _Typography = */

  --font-family-lora: Lora;
  --font-family-nunito-sans: Nunito Sans;
  --font-line-height-12: 1;
  --font-line-height-14: 1.25;
  --font-line-height-16: 1.5;
  --font-line-height-18: 1.5;
  --font-line-height-20: 1.625;
  --font-line-height-24: 1.875;
  --font-line-height-28: 2.125;
  --font-line-height-32: 2.375;
  --font-line-height-36: 2.625;
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-28: 1.75rem;
  --font-size-32: 2rem;
  --font-size-36: 2.25rem;
  --font-weight-bold: bold;
  --font-weight-regular: regular;
}
