:root {
  --Colorprimitives-primary-50: #e5f2ff;
  --Colorprimitives-primary-100: #b2d7ff;
  --Colorprimitives-primary-200: #8fc4ff;
  --Colorprimitives-primary-300: #66afff;
  --Colorprimitives-primary-400: #3395ff;
  --Colorprimitives-primary-500: #0166ff;
  --Colorprimitives-primary-700: #0055b2;
  --Colorprimitives-primary-800: #003166;
  --Colorprimitives-primary-900: #00254d;
  --Colorprimitives-primary-950: #0b233d;
  --Colorprimitives-primary-600P: #005ce5;
  --Colorprimitives-neutral-0: #ffffff;
  --Colorprimitives-neutral-50: #fafafa;
  --Colorprimitives-neutral-100: #f5f5f5;
  --Colorprimitives-neutral-200: #e5e5e5;
  --Colorprimitives-neutral-300: #d4d4d4;
  --Colorprimitives-neutral-400: #a3a3a3;
  --Colorprimitives-neutral-500: #737373;
  --Colorprimitives-neutral-600: #525252;
  --Colorprimitives-neutral-700: #404040;
  --Colorprimitives-neutral-800: #262626;
  --Colorprimitives-neutral-900: #171717;
  --Colorprimitives-neutral-950: #0a0a0a;
  --Colorprimitives-green-50: #ecfdf5;
  --Colorprimitives-green-100: #d1fae5;
  --Colorprimitives-green-200: #a7f3d0;
  --Colorprimitives-green-300: #6ee7b7;
  --Colorprimitives-green-400: #34d399;
  --Colorprimitives-green-500: #10b978;
  --Colorprimitives-green-600: #059669;
  --Colorprimitives-green-700: #047857;
  --Colorprimitives-green-800: #065f46;
  --Colorprimitives-green-900: #064e3b;
  --Colorprimitives-green-950: #052e23;
  --Numberprimitives-0: 0px;
  --Numberprimitives-1: 1px;
  --Numberprimitives-2: 2px;
  --Numberprimitives-3: 3px;
  --Numberprimitives-4: 4px;
  --Numberprimitives-6: 6px;
  --Numberprimitives-8: 8px;
  --Numberprimitives-10: 10px;
  --Numberprimitives-12: 12px;
  --Numberprimitives-16: 16px;
  --Numberprimitives-20: 20px;
  --Numberprimitives-24: 24px;
  --Numberprimitives-28: 28px;
  --Numberprimitives-32: 32px;
  --Numberprimitives-40: 40px;
  --Numberprimitives-48: 48px;
  --Numberprimitives-64: 64px;
  --Numberprimitives-72: 72px;
  --Numberprimitives-80: 80px;
  --Numberprimitives-96: 96px;
  --Numberprimitives-borrar3: borrar_4;
  --Typographyprimitives-family-inter: Inter;
  --Typographyprimitives-weight-bold: Bold;
  --Typographyprimitives-weight-semiBold: Semi Bold;
  --Typographyprimitives-weight-medium: Medium;
  --Typographyprimitives-weight-regular: Regular;
  --Typographyprimitives-size-size11: 11px;
  --Typographyprimitives-size-size12: 12px;
  --Typographyprimitives-size-size13: 13px;
  --Typographyprimitives-size-size14: 14px;
  --Typographyprimitives-size-size16: 16px;
  --Typographyprimitives-size-size18: 18px;
  --Typographyprimitives-size-size20: 20px;
  --Typographyprimitives-size-size24: 24px;
  --Typographyprimitives-size-size28: 28px;
  --Typographyprimitives-size-size36: 36px;
  --Typographyprimitives-size-size48: 48px;
  --Typographyprimitives-size-size60: 60px;
  --Typographyprimitives-size-size72: 72px;
  --Typographyprimitives-lineheight-lineheight16: 16px;
  --Typographyprimitives-lineheight-lineheight20: 20px;
  --Typographyprimitives-lineheight-lineheight24: 24px;
  --Typographyprimitives-lineheight-lineheight28: 28px;
  --Typographyprimitives-lineheight-lineheight32: 32px;
  --Typographyprimitives-lineheight-lineheight36: 36px;
  --Typographyprimitives-lineheight-lineheight44: 44px;
  --Typographyprimitives-lineheight-lineheight60: 60px;
  --Typographyprimitives-lineheight-lineheight72: 72px;
  --Typographyprimitives-lineheight-lineheight80: 80px;
  --border-widthS: var(--Numberprimitives-1);
  --border-widthM: var(--Numberprimitives-2);
  --border-widthL: var(--Numberprimitives-3);
  --colors-backgroundcolors-background01: var(--Colorprimitives-neutral-0);
  --colors-backgroundcolors-background02: var(--Colorprimitives-neutral-50);
  --colors-backgroundcolors-background03: var(--Colorprimitives-neutral-100);
  --colors-backgroundcolors-background04: var(--Colorprimitives-neutral-200);
  --colors-backgroundcolors-background05: var(--Colorprimitives-neutral-300);
  --colors-backgroundcolors-background06: var(--Colorprimitives-neutral-400);
  --colors-bordercolors-primary-border100: var(--Colorprimitives-primary-500);
  --colors-bordercolors-primary-border200: var(--Colorprimitives-primary-600P);
  --colors-bordercolors-primary-border300: var(--Colorprimitives-primary-700);
  --colors-bordercolors-primary-border400: var(--Colorprimitives-primary-800);
  --colors-bordercolors-primary-border500: var(--Colorprimitives-primary-900);
  --colors-bordercolors-primary-border600: var(--Colorprimitives-primary-950);
  --colors-bordercolors-neutral-border100: var(--Colorprimitives-neutral-200);
  --colors-bordercolors-neutral-border200: var(--Colorprimitives-neutral-300);
  --colors-bordercolors-neutral-border300: var(--Colorprimitives-neutral-400);
  --colors-bordercolors-neutral-border400: var(--Colorprimitives-neutral-500);
  --colors-bordercolors-neutral-border500: var(--Colorprimitives-neutral-600);
  --colors-bordercolors-neutral-border600: var(--Colorprimitives-neutral-700);
  --colors-foregroundcolors-foreground01: var(--Colorprimitives-neutral-950);
  --colors-foregroundcolors-foreground02: var(--Colorprimitives-neutral-900);
  --colors-foregroundcolors-foreground03: var(--Colorprimitives-neutral-800);
  --colors-foregroundcolors-foreground04: var(--Colorprimitives-neutral-700);
  --colors-foregroundcolors-foreground05: var(--Colorprimitives-neutral-600);
  --colors-foregroundcolors-foreground06: var(--Colorprimitives-neutral-500);
  --colors-semanticcolors-primary-semanticPrimary950: var(--colors-primary-950);
  --colors-semanticcolors-primary-semanticPrimary900: var(--colors-primary-900);
  --colors-semanticcolors-primary-semanticPrimary800: var(--colors-primary-800);
  --colors-semanticcolors-primary-semanticPrimary700: var(--colors-primary-700);
  --colors-semanticcolors-primary-semanticPrimary600: var(--colors-primary-600);
  --colors-semanticcolors-primary-semanticPrimary500: var(--colors-primary-500);
  --colors-semanticcolors-primary-semanticPrimary400: var(--colors-primary-400);
  --colors-semanticcolors-primary-semanticPrimary300: var(--colors-primary-300);
  --colors-semanticcolors-primary-semanticPrimary200: var(--colors-primary-200);
  --colors-semanticcolors-primary-semanticPrimary100: var(--colors-primary-100);
  --colors-semanticcolors-primary-semanticPrimary50: var(--colors-primary-50);
  --colors-semanticcolors-success-semanticSuccess950: var(--Colorprimitives-green-950);
  --colors-semanticcolors-success-semanticSuccess900: var(--Colorprimitives-green-900);
  --colors-semanticcolors-success-semanticSuccess800: var(--Colorprimitives-green-800);
  --colors-semanticcolors-success-semanticSuccess700: var(--Colorprimitives-green-700);
  --colors-semanticcolors-success-semanticSuccess600: var(--Colorprimitives-green-600);
  --colors-semanticcolors-success-semanticSuccess500: var(--Colorprimitives-green-500);
  --colors-semanticcolors-success-semanticSuccess400: var(--Colorprimitives-green-400);
  --colors-semanticcolors-success-semanticSuccess300: var(--Colorprimitives-green-300);
  --colors-semanticcolors-success-semanticSuccess200: var(--Colorprimitives-green-200);
  --colors-semanticcolors-success-semanticSuccess100: var(--Colorprimitives-green-100);
  --colors-semanticcolors-success-semanticSuccess50: var(--Colorprimitives-green-50);
  --radius-radiusXxxs: var(--spacingPrimitives-2);
  --radius-radiusXxs: var(--spacingPrimitives-4);
  --radius-radiusXs: var(--spacingPrimitives-6);
  --radius-radiusS: var(--spacingPrimitives-8);
  --radius-radiusM: var(--spacingPrimitives-10);
  --radius-radiusL: var(--spacingPrimitives-12);
  --radius-radiusXl: var(--spacingPrimitives-16);
  --radius-radiusXxl: var(--spacingPrimitives-20);
  --radius-radiusXxxl: var(--spacingPrimitives-32);
  --radius-radiusXxxxl: var(--spacingPrimitives-48);
  --radius-radiusMax: 1000px;
  --spacing-spacing2: var(--Numberprimitives-2);
  --spacing-spacing4: var(--Numberprimitives-4);
  --spacing-spacing6: var(--Numberprimitives-6);
  --spacing-spacing8: var(--Numberprimitives-8);
  --spacing-spacing10: var(--Numberprimitives-10);
  --spacing-spacing12: var(--Numberprimitives-12);
  --spacing-spacing16: var(--Numberprimitives-16);
  --spacing-spacing20: var(--Numberprimitives-20);
  --spacing-spacing24: var(--Numberprimitives-24);
  --spacing-spacing28: var(--Numberprimitives-28);
  --spacing-spacing32: var(--Numberprimitives-32);
  --spacing-spacing40: var(--Numberprimitives-40);
  --spacing-spacing48: var(--Numberprimitives-48);
  --spacing-spacing64: var(--Numberprimitives-64);
  --spacing-spacing72: var(--Numberprimitives-72);
  --spacing-spacing80: var(--Numberprimitives-80);
  --spacing-spacing96: var(--Numberprimitives-96);
  --typography-font-family-heading: var(--Typographyprimitives-inter);
  --typography-font-family-body: var(--Typographyprimitives-inter);
  --typography-font-weight-bold: var(--Typographyprimitives-weight-bold);
  --typography-font-weight-semiBold: var(--Typographyprimitives-weight-semiBold);
  --typography-font-weight-medium: var(--Typographyprimitives-weight-medium);
  --typography-font-weight-regular: var(--Typographyprimitives-weight-regular);
  --typography-font-fontsize-xs: var(--Typographyprimitives-size-size11);
  --typography-font-fontsize-sm: var(--Typographyprimitives-size-size12);
  --typography-font-fontsize-base: var(--Typographyprimitives-size-size13);
  --typography-font-fontsize-lg: var(--Typographyprimitives-size-size14);
  --typography-font-fontsize-xl: var(--Typographyprimitives-size-size16);
  --typography-font-fontsize-2xl: var(--Typographyprimitives-size-size18);
  --typography-font-fontsize-3xl: var(--Typographyprimitives-size-size20);
  --typography-font-fontsize-4xl: var(--Typographyprimitives-size-size24);
  --typography-font-fontsize-5xl: var(--Typographyprimitives-size-size28);
  --typography-font-fontsize-6xl: var(--Typographyprimitives-size-size36);
  --typography-font-fontsize-7xl: var(--Typographyprimitives-size-size48);
  --typography-font-fontsize-8xl: var(--Typographyprimitives-size-size60);
  --typography-font-fontsize-9xl: var(--Typographyprimitives-size-size72);
  --typography-font-lineheight-none: var(--Typographyprimitives-lineheight-lineheight16);
  --typography-font-lineheight-tight: var(--Typographyprimitives-lineheight-lineheight20);
  --typography-font-lineheight-snug: var(--Typographyprimitives-lineheight-lineheight24);
  --typography-font-lineheight-normal: var(--Typographyprimitives-lineheight-lineheight28);
  --typography-font-lineheight-relaxed: var(--Typographyprimitives-lineheight-lineheight32);
  --typography-font-lineheight-loose: var(--Typographyprimitives-lineheight-lineheight36);
  --typography-font-lineheight-7xl: var(--Typographyprimitives-lineheight-lineheight44);
  --typography-font-lineheight-8xl: var(--Typographyprimitives-lineheight-lineheight60);
  --typography-font-lineheight-9xl: var(--Typographyprimitives-lineheight-lineheight72);
  --typography-font-lineheight-10xl: var(--Typographyprimitives-lineheight-lineheight80);
}
