:root {
  --primitives-backgroiund: var(--primitives-colors-others-palette1);
  --primitives-colors-bw-black: #000000;
  --primitives-colors-bw-white: #ffffff;
  --primitives-colors-danger-100: #ffc6c6;
  --primitives-colors-danger-200: #ff9f9f;
  --primitives-colors-danger-300: #ff7878;
  --primitives-colors-danger-400: #f64e4e;
  --primitives-colors-danger-500p: #d43636;
  --primitives-colors-danger-600: #b22222;
  --primitives-colors-danger-700: #901212;
  --primitives-colors-danger-800: #6e0707;
  --primitives-colors-danger-900: #4c0000;
  --primitives-colors-grey-100: #ececec;
  --primitives-colors-grey-200: #d7d4d4;
  --primitives-colors-grey-300p: #c3bdbd;
  --primitives-colors-grey-400: #aea6a6;
  --primitives-colors-grey-500: #9a9090;
  --primitives-colors-grey-600: #867b7b;
  --primitives-colors-grey-700: #716666;
  --primitives-colors-grey-800: #5d5252;
  --primitives-colors-grey-900: #483f3f;
  --primitives-colors-others-accent-color: #b7a4c4;
  --primitives-colors-others-palette1: #bfd9dc;
  --primitives-colors-others-palette2: #e6e6fa;
  --primitives-colors-others-palette3: #98b494;
  --primitives-colors-others-palette4: #e6dcc8;
  --primitives-colors-others-palette5: #98fb98;
  --primitives-colors-others-palette6: #add8e6;
  --primitives-colors-others-palette7: #88d8d0;
  --primitives-colors-others-palette-cream: #fffaf0;
  --primitives-colors-primary-100: #dff7ff;
  --primitives-colors-primary-200: #c5f0ff;
  --primitives-colors-primary-300p: #add8e6;
  --primitives-colors-primary-400: #96bfcc;
  --primitives-colors-primary-500: #7fa6b3;
  --primitives-colors-primary-600: #6a8e99;
  --primitives-colors-primary-700: #567680;
  --primitives-colors-primary-800: #435e67;
  --primitives-colors-primary-900: #31464d;
  --primitives-colors-secondary-100: #e0f7d6;
  --primitives-colors-secondary-200p: #c9e0be;
  --primitives-colors-secondary-300: #b2c9a7;
  --primitives-colors-secondary-400: #9cb391;
  --primitives-colors-secondary-500: #869c7c;
  --primitives-colors-secondary-600: #718568;
  --primitives-colors-secondary-700: #5d6f54;
  --primitives-colors-secondary-800: #495841;
  --primitives-colors-secondary-900: #35412f;
  --primitives-colors-success-100: #d0ffe5;
  --primitives-colors-success-200: #b0ffd3;
  --primitives-colors-success-300: #90ffc1;
  --primitives-colors-success-400: #6df7aa;
  --primitives-colors-success-500: #52d58d;
  --primitives-colors-success-600p: #3cb371;
  --primitives-colors-success-700: #299157;
  --primitives-colors-success-800: #1a6f40;
  --primitives-colors-success-900: #0e4d2a;
  --primitives-colors-warning-100: #fff3db;
  --primitives-colors-warning-200: #fde9c0;
  --primitives-colors-warning-300: #f5d9a0;
  --primitives-colors-warning-400: #d7bc84;
  --primitives-colors-warning-500: #baa06b;
  --primitives-colors-warning-600: #9d8555;
  --primitives-colors-warning-700p: #806b40;
  --primitives-colors-warning-800: #63512e;
  --primitives-colors-warning-900: #46391e;
  --primitives-numbers-0: 0px;
  --primitives-numbers-10: 10px;
  --primitives-numbers-12: 12px;
  --primitives-numbers-14: 14px;
  --primitives-numbers-16: 16px;
  --primitives-numbers-18: 18px;
  --primitives-numbers-2: 2px;
  --primitives-numbers-20: 20px;
  --primitives-numbers-22: 22px;
  --primitives-numbers-24: 24px;
  --primitives-numbers-26: 26px;
  --primitives-numbers-28: 28px;
  --primitives-numbers-30: 30px;
  --primitives-numbers-32: 32px;
  --primitives-numbers-34: 34px;
  --primitives-numbers-36: 36px;
  --primitives-numbers-38: 38px;
  --primitives-numbers-4: 4px;
  --primitives-numbers-40: 40px;
  --primitives-numbers-44: 44px;
  --primitives-numbers-6: 6px;
  --primitives-numbers-76: 76px;
  --primitives-numbers-8: 8px;
  --typography-font-family-lora: "Lora";
  --typography-font-family-nunitosans: "Nunito Sans";
  --typography-font-line-height-line-height36: var(--primitives-numbers-36);
  --typography-font-line-height-line-height44: var(--primitives-numbers-44);
  --typography-font-line-height-line-height76: var(--primitives-numbers-76);
  --typography-font-size-size10: var(--primitives-numbers-10);
  --typography-font-size-size12: var(--primitives-numbers-12);
  --typography-font-size-size14: var(--primitives-numbers-14);
  --typography-font-size-size16: var(--primitives-numbers-16);
  --typography-font-size-size18: var(--primitives-numbers-18);
  --typography-font-size-size20: var(--primitives-numbers-20);
  --typography-font-size-size24: var(--primitives-numbers-24);
  --typography-font-size-size28: var(--primitives-numbers-28);
  --typography-font-size-size32: var(--primitives-numbers-32);
  --typography-font-size-size40: var(--primitives-numbers-40);
  --typography-font-weight-bold: "Bold";
  --typography-font-weight-regular: "Regular";
  --typography-font-weight-semibold: "Semibold";
  --tokens-alert-backgroun-color-danger: var(--primitives-colors-danger-100);
  --tokens-alert-backgroun-color-positive: var(--primitives-colors-secondary-300);
  --tokens-alert-background-color-information: var(--primitives-colors-others-palette-cream);
  --tokens-app-app-background-default: var(--primitives-colors-primary-300p);
  --tokens-avatar-border-color-default: var(--primitives-colors-grey-400);
  --tokens-avatar-border-width-default: var(--primitives-numbers-2);
  --tokens-bottom-bar-button-background-selected: var(--primitives-colors-bw-white);
  --tokens-bottom-bar-button-icon-color-default: var(--tokens-common-colors-icon-default-fill);
  --tokens-button-cancel-active-bg-active: var(--primitives-colors-danger-700);
  --tokens-button-cancel-active-foreground-active: var(--primitives-colors-bw-white);
  --tokens-button-cancel-default-bg-default: var(--primitives-colors-danger-500p);
  --tokens-button-cancel-default-foreground-default: var(--primitives-colors-bw-white);
  --tokens-button-cancel-disabled-bg-disabled: var(--primitives-colors-grey-300p);
  --tokens-button-cancel-disabled-foreground-disabled: var(--primitives-colors-grey-900);
  --tokens-button-cancel-hover-bg-hover: var(--primitives-colors-danger-600);
  --tokens-button-cancel-hover-foreground-cancel: var(--primitives-colors-grey-100);
  --tokens-button-gap8: var(--tokens-numbers-spacing-spacing8);
  --tokens-button-paddingh: var(--tokens-numbers-spacing-spacing14);
  --tokens-button-paddingv: var(--tokens-numbers-spacing-spacing10);
  --tokens-button-primary-active-bg-active: var(--primitives-colors-primary-100);
  --tokens-button-primary-active-foreground-active: var(--primitives-colors-grey-700);
  --tokens-button-primary-default-bg-default: var(--primitives-colors-primary-300p);
  --tokens-button-primary-default-foreground-default: var(--tokens-common-colors-text-default-color);
  --tokens-button-primary-disabled-bg-disabled: var(--primitives-colors-grey-100);
  --tokens-button-primary-disabled-foreground-disabled: var(--primitives-colors-grey-900);
  --tokens-button-primary-hover-bg-hover: var(--primitives-colors-primary-200);
  --tokens-button-primary-hover-foreground-hover: var(--primitives-colors-grey-700);
  --tokens-button-radius: var(--tokens-common-radius-radius-l);
  --tokens-button-secondary-active-bg-active: var(--primitives-colors-secondary-100);
  --tokens-button-secondary-active-foreground-active: var(--primitives-colors-grey-700);
  --tokens-button-secondary-default-bg-default: var(--primitives-colors-secondary-200p);
  --tokens-button-secondary-default-foreground-default: var(--tokens-common-colors-text-default-color);
  --tokens-button-secondary-disabled-bg-disabled: var(--primitives-colors-grey-100);
  --tokens-button-secondary-disabled-foreground-disabled: var(--primitives-colors-grey-900);
  --tokens-button-secondary-hover-bg-hover: var(--primitives-colors-secondary-100);
  --tokens-button-secondary-hover-foreground-hover: var(--primitives-colors-grey-700);
  --tokens-card-basic-bg-basic: var(--tokens-common-colors-card-background-cream);
  --tokens-card-basic-padding16: var(--tokens-numbers-spacing-spacing16);
  --tokens-card-basic-spacing6: var(--tokens-numbers-spacing-spacing6);
  --tokens-card-basic-spacing8: var(--tokens-numbers-spacing-spacing8);
  --tokens-card-border-card: var(--tokens-common-colors-border-color);
  --tokens-checkbox-checkbox-icon-default-color2: var(--primitives-colors-grey-800);
  --tokens-checkbox-label-text-default-color: var(--primitives-colors-grey-800);
  --tokens-checkbox-spacing-vdefault: var(--tokens-numbers-spacing-spacing8);
  --tokens-common-colors-border-color: var(--primitives-colors-grey-500);
  --tokens-common-colors-card-background-cream: var(--primitives-colors-others-palette-cream);
  --tokens-common-colors-card-background-light: var(--primitives-colors-grey-100);
  --tokens-common-colors-icon-default-fill: var(--primitives-colors-grey-900);
  --tokens-common-colors-overlay-color: #00000033;
  --tokens-common-colors-text-default-color: var(--primitives-colors-grey-900);
  --tokens-common-colors-text-link-color: var(--primitives-colors-primary-500);
  --tokens-common-colors-text-titles-color: var(--primitives-colors-grey-900);
  --tokens-common-radius-radius-l: var(--tokens-numbers-radius-radius12);
  --tokens-common-radius-radius-m: var(--tokens-numbers-radius-radius8);
  --tokens-common-spacing-spacing-l: var(--tokens-numbers-spacing-spacing16);
  --tokens-common-spacing-spacing-m: var(--tokens-numbers-spacing-spacing8);
  --tokens-common-spacing-spacing-s: var(--tokens-numbers-spacing-spacing4);
  --tokens-font-family-lora: var(--typography-font-family-lora);
  --tokens-font-family-nunitosans: var(--typography-font-family-nunitosans);
  --tokens-font-line-height-line-height36: var(--typography-font-line-height-line-height36);
  --tokens-font-line-height-line-height44: var(--typography-font-line-height-line-height44);
  --tokens-font-line-height-line-height76: var(--typography-font-line-height-line-height76);
  --tokens-font-size-size10: var(--typography-font-size-size10);
  --tokens-font-size-size12: var(--typography-font-size-size12);
  --tokens-font-size-size14: var(--typography-font-size-size14);
  --tokens-font-size-size16: var(--typography-font-size-size16);
  --tokens-font-size-size18: var(--typography-font-size-size18);
  --tokens-font-size-size20: var(--typography-font-size-size20);
  --tokens-font-size-size24: var(--typography-font-size-size24);
  --tokens-font-size-size28: var(--typography-font-size-size28);
  --tokens-font-size-size32: var(--typography-font-size-size32);
  --tokens-font-size-size40: var(--typography-font-size-size32);
  --tokens-font-weight-bold: var(--typography-font-weight-semibold);
  --tokens-font-weight-regular: var(--typography-font-weight-regular);
  --tokens-font-weight-semibold: var(--typography-font-weight-semibold);
  --tokens-icon-color-default: var(--primitives-colors-grey-900);
  --tokens-image-border-color-default: var(--primitives-colors-grey-400);
  --tokens-image-border-width-default: var(--primitives-numbers-2);
  --tokens-image-radius-default: var(--primitives-numbers-4);
  --tokens-numbers-radius-radius12: var(--primitives-numbers-12);
  --tokens-numbers-radius-radius16: var(--primitives-numbers-16);
  --tokens-numbers-radius-radius4: var(--primitives-numbers-4);
  --tokens-numbers-radius-radius8: var(--primitives-numbers-8);
  --tokens-numbers-spacing-spacing0: var(--primitives-numbers-0);
  --tokens-numbers-spacing-spacing10: var(--primitives-numbers-10);
  --tokens-numbers-spacing-spacing12: var(--primitives-numbers-12);
  --tokens-numbers-spacing-spacing14: var(--primitives-numbers-14);
  --tokens-numbers-spacing-spacing16: var(--primitives-numbers-16);
  --tokens-numbers-spacing-spacing2: var(--primitives-numbers-2);
  --tokens-numbers-spacing-spacing24: var(--primitives-numbers-24);
  --tokens-numbers-spacing-spacing4: var(--primitives-numbers-4);
  --tokens-numbers-spacing-spacing6: var(--primitives-numbers-6);
  --tokens-numbers-spacing-spacing8: var(--primitives-numbers-8);
  --tokens-radio-button-checked-color: var(--primitives-colors-grey-800);
  --tokens-rating-star-border-color-default: var(--primitives-colors-grey-900);
  --tokens-rating-star-fill-color-active: var(--primitives-colors-secondary-400);
  --tokens-text-fields-text-fields-bg-default: var(--primitives-colors-bw-white);
  --tokens-text-fields-text-fields-border-color-default: var(--tokens-common-colors-border-color);
  --tokens-text-fields-text-fields-error: var(--primitives-colors-danger-600);
  --tokens-text-fields-text-fields-field-bg-default: var(--primitives-colors-bw-white);
  --tokens-text-fields-text-fields-icon-color-default: var(--tokens-common-colors-icon-default-fill);
  --tokens-text-fields-text-fields-label-color: var(--tokens-common-colors-text-titles-color);
  --tokens-text-fields-text-fields-message-color-default: var(--tokens-common-colors-text-default-color);
  --tokens-text-fields-text-fields-spacing-vdefault: var(--tokens-numbers-spacing-spacing8);
  --tokens-text-fields-text-fields-success: var(--primitives-colors-success-600p);
  --tokens-text-fields-text-fields-text-color-empty: var(--primitives-colors-grey-700);
  --tokens-text-fields-text-fields-text-color-filled: var(--tokens-common-colors-text-default-color);
  --tokens-topbar-background-color: var(--primitives-colors-secondary-200p);
  --translations-card-body-txt: "Algo más de información";
  --translations-card-button-primary: "Aceptar";
  --translations-card-button-secondary: "Cancelar";
  --translations-card-subtitle: "Dato ppal";
  --translations-card-title: "Producto";
}
